/*log general*/

* {
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0px;
}
main {
  margin-left: 40px;
  margin-right: 40px;
}

a {
  text-decoration: none;
  color: black;
}

.fas.fa-star.stargris {
  color: #e2e2e2;
}
p {
  font-family: sans-serif;
}

/* en tete*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
  margin-right: 40px;
}

.logo img {
  width: 93px;
  height: 28px;
  object-fit: cover;
}

.Menu2 {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
}
li:hover {
  border-top: solid #0065fc 2px;
  zoom: 0%;
}
li {
  padding: 20px;
}
.heberg {
  border-top: solid #fff 2px;
}
.activi {
  border-top: solid #fff 2px;
}
.inscrip {
  color: #0065fc;
}
.inscription {
  border-top: solid #fff 2px;
}
.pnav {
  margin: 0px;
}
.pnav:hover {
  color: #0065fc;
}
/*barre de recherche*/

.barrederecherche {
  display: flex;
  border: solid #f2f2f2 1px;
  border-radius: 10px;
  height: 40px;
  width: fit-content;
  margin-bottom: 20px;
}
.barrederecherche i {
  background-color: #f2f2f2;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin-bottom: 20px;
  color: black;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 0px 10px 0px 10px;
  font-size: small;
}
.searchInput::placeholder {
  color: black;
}
.searchInput {
  height: 40px;
  border: #f2f2f2 2px;
  align-items: center;
  font-size: initial;
  padding-left: 10px;
}
p .boutonrech {
  align-items: center;
  font-size: small;
}

.boutonrech {
  color: white;
}
button.searchInput {
  font-size: small;
  padding: 10px;
}
.Recherche p {
  margin-top: 0px;
}
.Recherche h2 {
  margin-bottom: 0px;
}

button {
  background-color: #0065fc;
  text-align: center;
  border: solid 1px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

/*filtre*/

.listefiltre {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  zoom: 1.4;
}
.lesfiltres {
  display: flex;
}
.strong {
  display: flex;
  flex-direction: row;
  padding-right: 15px;
  align-items: center;
  border: solid #f2f2f2 2px;
  border-radius: 20px;
  border-left: 1px;
  margin-right: 17px;
  transition: transform 0.1s;
}
.strong:hover {
  transform: scale(1.2);
}
.monicone {
  background-color: #deebff;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 3px;
}

.listefiltre i {
  color: #0065fc;
  display: flex;
  border-radius: 100%;
  background-color: #deebff;
  padding: 7px;
}

.loge {
  font-size: small;
  padding-bottom: 20px;
  font-family: sans-serif;
  display: flex;
  align-items: baseline;
}
.loge i {
  padding: 5px;
  color: #0065fc;
  margin-right: 10px;
  padding-left: 8px;
  padding-right: 8px;
}
.loge .fas {
  border-radius: 50%;
  border: solid #dfdfdf 1px;
  font-size: small;
}
.textefiltre {
  margin-right: 25px;
}

/*coprs de  page*/

section {
  background-color: white;
  display: grid;
  grid-template-columns: 66% 33%;
  border-radius: 20px;
  column-gap: 2rem;
}

.gridlog {
  align-content: flex-start;
  display: grid;
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
}

.box {
  width: 100%;
  padding: 4px;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 1.5rem;
  background-color: white;
}

.box h3 {
  margin: 2px 10px 5px 10px;
}
.box p {
  margin: 0px 10px 5px 10px;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.logements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2rem;
}

.setimg {
  object-fit: cover;
  object-position: center;
  height: 160px;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}

.etoiles {
  color: #0065fc;
  display: flex;
  flex-direction: row;
  margin: 0px 0px 5px 10px;
  font-size: 14px;
}

.affiche {
  margin-top: 20px;
  list-style-type: none;
}

/*aside*/

.popul {
  display: grid;
  flex-direction: column;

  margin: 10px;

  justify-items: center;
}
.entete {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.fa-chart-line:before {
  font-size: x-large;
}
.popul .etoiles {
  margin: 0px 0px 6px 0px;
}

.aside {
  padding: 2rem;
  background-color: #f2f2f2;
  border-radius: 1.5rem;
  justify-content: space-between;
  margin-right: 10px;
}

.asidebox {
  object-fit: cover;
  display: flex;
  justify-content: flex-start;
  box-shadow: 0 0 16px #0000002e;
  background-color: white;
  border-radius: 20px;
  margin: 20px;
  width: 100%;
  height: 140px;
  padding: 4px;
}
.asideimg {
  object-fit: cover;
  height: 100%;
  width: 35%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
}

.asidedescription {
  display: flex;
  width: auto;
}

.relativbox {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}
.descripbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 10px;
}
.descripbox h3 {
  margin-bottom: 0px;
}
/*activites*/
.activites {
  display: flex;
  flex-direction: column;
  margin: 80px 0px 80px 0px;
}

.contenent {
  display: flex;
  width: 100%;
}
.contenent h3 {
  margin-left: 15px;
}
.boxa,
.boxa2,
.boxa3,
.boxa4 {
  display: flex;

  border-radius: 10px;
  margin: 20px;
  width: 100%;
  max-height: 600px;
}
.act,
.act2,
.act3,
.act4,
.act5,
.act6,
img {
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
/*boxa*/
.boxa {
  height: 100%;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 10px;
  margin-left: 0px;
}
.boxa img {
  height: 438px;
}
/*boxa2*/
.boxa2 {
  display: flex;
  flex-direction: column;
}
.boxa2 .act2 {
  height: 60%;
  box-shadow: 0 0 16px #0000002e;
  border-radius: 10px;
  margin-bottom: 50px;
}
.boxa2 .act2 img {
  height: 186px;
}
.act3 {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 10px;
  height: 40%;
}
.act3 img {
  height: 136px;
}
/*Boxa3*/
.boxa3 {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 10px;
}
.boxa3 img {
  height: 438px;
}
/*boxa4*/
.boxa4 {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-radius: 10px;
  margin-right: 0px;
}

.act5 {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 10px;
  margin-bottom: 50px;
  height: 50%;
}
.act5 img {
  height: 160px;
}

.act6 {
  box-shadow: 0 0 16px #0000002e;
  border-radius: 10px;
  height: 50%;
}

.act6 img {
  height: 160px;
}

/*footer*/
footer {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
}
Footer p {
  font-size: small;
}

.apropos {
  width: 33%;
  margin-left: 40px;
}
.Nosheb {
  width: 33%;
}
/*responsive*/
@media screen and (max-width: 1160px) {
  .asidebox {
    font-size: 15px;
  }
}
/*Responsive tablette*/
@media screen and (min-width: 700px) {
  button.boutonicone {
    display: none;
  }
}
@media screen and (min-width: 700px) and (max-width: 1060px) {
  header {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
  .logo {
    height: auto;
    margin-left: 1.6rem;
  }
  .logo img {
    height: auto;
  }
  nav.Menu {
    display: flex;
    list-style-type: none;
    width: 100%;
  }
  .Menu2 {
    width: 100%;
    padding: 0px;
  }
  .heberg {
    width: 50%;
    border-bottom: rgb(195, 195, 195) solid;
    text-align: center;
  }
  .heberg:hover {
    border-bottom: solid #0065fc;
    border-top: none;
    color: #0065fc;
  }
  .activi {
    width: 50%;
    border-bottom: rgb(195, 195, 195) solid;
    text-align: center;
  }
  .activi:hover {
    border-bottom: solid #0065fc;
    border-top: none;
  }
  .inscription {
    position: absolute;
    top: -6px;
    right: 0;
  }
  .inscription:hover {
    border: none;
  }
  main {
    margin: 0px;
  }
  .Recherche {
    margin-left: 1.6rem;
  }
  .barrederecherche {
    margin-left: 1.6rem;
    zoom: 1.2;
  }
  .barrederecherche .boutonicone i {
    height: 40px;
    background: transparent;
    color: white;
    margin: 0px;
    padding: 0px;
    align-items: center;
    padding-left: 7px;
  }
  .searchInput {
    height: 40px;
  }
  button.searcheInput {
    height: 40px;
  }
  button.boutonicone {
    border-radius: 10px;
    width: 40px;
  }
  .listefiltre {
    display: flex;
    flex-wrap: wrap;
    width: 65%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.6rem;
    zoom: 1;
  }
  .strong {
    margin-bottom: 10px;
  }
  .lesfiltres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    zoom: 1.1;
  }
  .loge {
    margin-left: 1.6rem;
    font-size: larger;
    display: flex;
    align-items: baseline;
  }
  .plusloge {
    zoom: 1;
  }
  .gridlog {
    background-color: white;
    padding: 1.3rem;
  }
  section {
    display: flex;
    flex-direction: column-reverse;
  }

  .logements {
    display: flex;
    flex-direction: row;
    height: 100%;
    flex-wrap: wrap;
  }
  .box {
    height: auto;
    width: 46%;
  }
  .setimg {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
  .aside {
    border-radius: 0px;
    margin-right: 0px;
    padding: 1.6rem;
    border-radius: 0px;
    margin-right: 0px;
  }
  .asidebox {
    margin: 0px 0px 15px 0px;
    border-radius: 20px;
    padding: 6px;
    height: 160px;
  }
  .asideimg {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
  }
  .popul {
    margin: 0px;
  }
  .entete {
    margin-bottom: 10px;
  }

  .activites .contenent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 96%;
    align-items: center;
  }

  .activites {
    margin: 0px;
    padding-left: 1.3rem;
    margin-bottom: 70px;
  }

  .boxa,
  .boxa2,
  .boxa3,
  .boxa4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .boxa {
    margin-right: 0px;
  }
  .boxa4 {
    margin-left: 0px;
  }

  .boxa img,
  .boxa2 img,
  .boxa3 img,
  .boxa4 img {
    height: 230px;
  }

  .act2 {
    margin-bottom: 20px;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 30px;
    padding-bottom: 35px;
  }
  footer h3 {
    width: max-content;
  }
  footer p {
    font-size: initial;
    width: max-content;
    margin: 7px;
    margin-left: 0px;
  }
  .apropos {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
}
/* Responsive smartphone*/
@media screen and (max-width: 700px) {
  header {
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
  }
  .logo {
    height: auto;
    margin-left: 1.6rem;
  }
  .logo img {
    height: auto;
  }
  nav.Menu {
    display: flex;
    list-style-type: none;
    width: 100%;
  }
  .Menu2 {
    width: 100%;
    padding: 0px;
  }
  .heberg {
    width: 50%;
    border-bottom: rgb(195, 195, 195) solid;
    text-align: center;
  }
  .heberg:hover {
    border-bottom: solid #0065fc;
    border-top: none;
    color: #0065fc;
  }
  .activi {
    width: 50%;
    border-bottom: rgb(195, 195, 195) solid;
    text-align: center;
  }
  .activi:hover {
    border-bottom: solid #0065fc;
    border-top: none;
  }
  .inscription {
    position: absolute;
    top: -6px;
    right: 0;
  }
  .inscription:hover {
    border: none;
  }
  main {
    margin: 0px;
  }
  .Recherche {
    margin-left: 1.6rem;
  }
  .Recherche h2 {
    margin-right: 11px;
  }
  .barrederecherche {
    margin-left: 1.6rem;
    zoom: 1.2;
  }
  .barrederecherche .boutonicone i {
    height: 40px;
    background: transparent;
    color: white;
    margin: 0px;
    padding: 0px;
    align-items: center;
    padding-left: 7px;
  }
  .searchInput {
    height: 40px;
  }
  button.searcheInput {
    height: 40px;
  }
  button.bouton1 {
    display: none;
  }
  button.boutonicone {
    border-radius: 10px;
    width: 40px;
  }
  .listefiltre {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1.6rem;
    zoom: 1;
  }
  .strong {
    margin-bottom: 10px;
  }
  .lesfiltres {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    zoom: 1.1;
  }
  .loge {
    margin-left: 1.6rem;
    font-size: larger;
    display: flex;
    align-items: baseline;
  }
  .plusloge {
    zoom: 1;
  }
  .gridlog {
    background-color: white;
    padding: 1.3rem;
  }
  section {
    display: flex;
    flex-direction: column-reverse;
  }

  .logements {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .box {
    height: auto;
  }

  .setimg {
    object-fit: cover;
    object-position: center;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
  }
  .aside {
    border-radius: 0px;
    margin-right: 0px;
    padding: 1.6rem;
    border-radius: 0px;
    margin-right: 0px;
  }
  .asidebox {
    margin: 0px 0px 15px 0px;
    border-radius: 20px;
    padding: 6px;
  }
  .asideimg {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 0px;
  }
  .popul {
    margin: 0px;
  }
  .entete {
    margin-bottom: 10px;
  }

  .activites .contenent {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 96%;
    align-items: center;
  }

  .activites {
    margin: 0px;
    padding-left: 1.3rem;
    margin-bottom: 70px;
  }

  .boxa,
  .boxa2,
  .boxa3,
  .boxa4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .boxa {
    margin-right: 0px;
  }
  .boxa4 {
    margin-left: 0px;
  }

  .boxa img,
  .boxa2 img,
  .boxa3 img,
  .boxa4 img {
    height: 230px;
  }

  .act2 {
    margin-bottom: 20px;
  }

  footer {
    display: flex;
    flex-direction: column;
    text-align: start;
    padding-left: 30px;
    padding-bottom: 35px;
  }
  footer h3 {
    width: max-content;
  }
  footer p {
    font-size: initial;
    width: max-content;
    margin: 7px;
    margin-left: 0px;
  }
  .apropos {
    margin-left: 0px;
    display: flex;
    flex-direction: column;
  }
}
