/* en tete*/
header{ display: flex;
        justify-content: space-between;
        align-items: flex-end;

}

.logo img { width: 93px;
    height: 28px;
    object-fit: cover;

}

.Menu { list-style-type: none;
       display: flex;
       justify-content: space-between;
       
}
li{
    padding: 20px;
    
}
/*barre de recherche*/
.barrederecherche {
    display: flex;
    border: solid 1px ;
    border-radius: 20px;
}
.Recherche{

}


body{ font-family: Raleway;
  
}

/*filtre*/

.listefiltre  {
    display: flex;
    padding-right: 20px;
}   
strong {
    display: flex;
    
    border: solid #F2F2F2 2px;
    border-radius: 20px;
    padding: 5px;
}

/*coprs de  page*/
section {
    background-color:#F2F2F2 ;
    display: flex;
    flex-wrap: wrap;
}
article  {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: solid white 2px;
    border-radius: 20px ;
    width: 40%;
    height: 200px;
    object-fit: cover;
}
.imagehotel {
    display: flex;
    width: 60%;
    height: 140px;
    object-fit: cover;
    
}
.imagehotel img { width: 400px;
    height: 140px;
    object-fit: cover;

}